<h1>Oprava</h1>

<%= form_with model: @item, local: true do |form| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Jméno: <%= form.text_field :JMENO %>
    Příjmení: <%= form.text_field :PRIJMENI %>
  </p>

  <%= hidden_field_tag :orig_jmeno, @item.JMENO %>
  <%= hidden_field_tag :orig_prijmeni, @item.PRIJMENI %>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Zpět na seznam', items_path %>
