<p>
<%= link_to 'Nová položka', new_item_path, class: "button" %>
<%= link_to 'Křestní zápis', {:action => :new, :type => 'krestni_zapis'}, class: "button"%>
</p>

<table id ="items">
  <tr>
    <th><%= sortable "PRIJMENI", "Jméno a příjmení" %></th>
    <!-- no need to show RC if it's just a date
    sortable "ROD_CISLO", "Rodné číslo"
    -->
    <th><%= sortable "DAT_NAR", "Datum narození" %></th>
    <th><%= sortable "BYDL", "Bydliště" %></th>
  </tr>
  <% @items.each do |c| %>
    <tr>
        <td><%= link_to "#{c.JMENO} #{c.PRIJMENI}", {:action => 'show', :id => c.DAT_NAR, :jmeno => c.JMENO, :prijmeni => c.PRIJMENI} -%></td>
        <td><%= c.DAT_NAR %></td>
        <td><%= c.BYDL %></td>
    </tr>
  <% end %>
</table>
