<div id="print_page">
<h2>Potvrzení o ...</h2>
<p>
Potvrzujeme, že
<%= @item.JMENO %> <%= @item.PRIJMENI %>,
</p>

<p>
datum narození <%= @item.DAT_NAR %>,
</p>

...
<!--
<table id ="items">
  <tr>
    <th>Jméno</th>
    <th>Příjmení</th>
    <th>Stav</th>
    <th>Datum narození</th>
    <th>Místo narození</th>
    <th>Bydliště</th>
  </tr>
  <tr>
    <td><%= @item.JMENO %>
    <td><%= @item.PRIJMENI %>
    <td><%= @item.STAV %>
    <td><%= @item.DAT_NAR %>
    <td><%= @item.MISTO_NAR %>
    <td><%= @item.BYDL %>
  </tr>
</table>
-->
<p align="right">
Podpis
</p>
</div>
